storage: ./storage
auth:
  htpasswd:
    file: ./htpasswd
uplinks:
  npmjs:
    url: https://registry.npmjs.org/
packages:
  '@frio/*':
    access: $all
    publish: $all
    proxy: npmjs
  '**':
    access: $all
    publish: $authenticated
    proxy: npmjs
